<img class="fullBg" appFullpage [src]="page.image">

<div *ngIf="page.title==='Our Services'">
  <mat-card class="descrpt-card">
    <h2>
      Make the forecast cloudy with a chance of awesomeness! Our state of the art virtual hosting environment means
      more scalability, more redundancy and minimal downtime in the event of errors.
    </h2>
  </mat-card>

  <div class="grid grid-cols-3  grid-flow-col mr-60 ml-60">

    <span>
      <mat-card class="flex justify-center">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Linux Web Hosting</mat-card-title>
          <mat-card-subtitle>Affordable, stable locally hosted linux packages</mat-card-subtitle>
        </mat-card-header>
        <img class="w-60 m-10" src="{{linuxImage}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3>Features</h3>
          <mat-list>
            <mat-list-item> 4GB Web Traffic </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 100GB HDD Size </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 1 vCPUs </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 29c/GB Data transfer overage </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button class="primary-button" mat-raised-button>NEXT</button>
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Cloud Hosting</mat-card-title>
          <mat-card-subtitle>Dedicated hosting at a fraction of the cost</mat-card-subtitle>
        </mat-card-header>
        <img class="w-60 m-10" src="{{cloudImage}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3>Features</h3>
          <mat-list>
            <mat-list-item> 4GB Web Traffic </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 200GB HDD Size </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 2 vCPUs </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 29c/GB Data transfer overage </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button class="primary-button" mat-raised-button>NEXT</button>
        </mat-card-actions>
      </mat-card>
    </span>
    <span>
      <mat-card >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Specialised Hosting</mat-card-title>
          <mat-card-subtitle>Start your own hosting enterprise</mat-card-subtitle>
        </mat-card-header>
        <img class="w-60 m-10" src="{{enterpriseImage}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <h3>Features</h3>
          <mat-list>
            <mat-list-item> 6GB Web Traffic </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 400GB HDD Size </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 4 vCPUs </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> 29c/GB Data transfer overage </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button class="primary-button" mat-raised-button>NEXT</button>
        </mat-card-actions>
      </mat-card>
    </span>

   
  </div>
  <div class="button-row">
    <button mat-raised-button>NEXT</button>
  </div>


  <!-- 
<div *ngIf="page.title==='Your Information'">
  <mat-card>
    <mat-card-header class="mat-card-header">
      <mat-card-title>
        <h1>{{page.title}}</h1>
      </mat-card-title>
      <mat-card-subtitle>{{page.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mat-card-content">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label><span p>First Name</span></mat-label>
          <input matInput placeholder="Tony">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Moyo">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Moyo">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email Address</mat-label>
          <input type="email" matInput placeholder="Moyo">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="Moyo">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St"></textarea>
        </mat-form-field>


      </form>
    </mat-card-content>

    <div class="example-button-row">
      <button mat-raised-button color="accent" (click)="LoadHomePage()">Back</button>
      <button mat-raised-button color="primary">Next</button>
    </div>
  </mat-card>
</div> -->