:host {
    display: flex;
}
.sidebar{
    width:300px;
    background:lightgray;
    padding: 8px;
   margin-top: 15px;
margin-left: 0px;
z-index: 1;
position:"left";
top:10;
height: 100%;
opacity: 0.9;
  }

mat-card {
    width:500px;
    background: lightgray;
    align-items: center;
    padding: 8px;
   margin-top: 60px;
margin-left: 500px;
opacity: 0.9;
}

.mat-card-header {
    color: #3f51b5;
}

.mat-card-content {
   
    padding: 8px;
}

.fullBg{
    z-index:0;
    position: fixed;
    top: 0;
    left: 0;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
    background-color: #f6811d;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background: lightgray;
  }
  
  .example-full-width {
    width: 100%;
  }

  p{
font-size: 14px;
text-align: center;
  }

  h1{
    font-size: 18px;
    text-align:center;
    color: #117fae;
  }

  