
.button-row{
  margin-bottom: 10px;
}

.mat-card-header {
  color: #117fae;
}

.mat-card-content {
    padding: 8px;
}

mat-grid-tile {
  background: black;
  
}

mat-grid-list{
  z-index: 1;
}

mat-card-image{
  background-color: whitesmoke;
  width: 10px;
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
    background-color: #f6811d;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background: white;
  }
  
  .example-full-width {
    width: 100%;
  }

  p{
font-size: 14px;
text-align: center;
color: black;
  }

 

  

 .descrpt-card{
background-color:#f2f2f0;
opacity: 0.9;
 } 
 

  mat-card-actions{
    opacity: 0.8;
  }