<img class="fullBg" appFullpage [src]="image">

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
           <h1>The title</h1> 
        </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        The evolution of nimboAge into a major engineering and construction organisation is among the more remarkable success stories in Indian industry. It was founded in Mumbai (then Bombay) in 1938 by two Danish engineers, Henning Holck-Larsen and Soren Kristian Toubro. Beginning with the import of machinery from Europe, L&T took on engineering and construction assignments of increasing sophistication. Today, the company sets engineering benchmarks in terms of scale and
    </mat-card-content>
 <mat-divider></mat-divider>
    <mat-card-header>
        <mat-card-title>
           <h1>The title 2</h1> 
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        The evolution of nimboAge into a major engineering and construction organisation is among the more remarkable success stories in Indian industry. It was founded in Mumbai (then Bombay) in 1938 by two Danish engineers, Henning Holck-Larsen and Soren Kristian Toubro. Beginning with the import of machinery from Europe, L&T took on engineering and construction assignments of increasing sophistication. Today, the company sets engineering benchmarks in terms of scale and
    </mat-card-content>
</mat-card>
