
 
html, app-root {
  width: 100%;
 
  margin: 0;
}


.footer{
  position: bottom;
  z-index: 1;
  overflow-x: auto;
   display: flex;
  flex-direction: row;
 margin-bottom: 0;
 }

 body{
   display:block;
   flex-direction: row;
 }