
 
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fullBg{
  z-index:0;
  position: fixed;
  top: 0;
  left: 0;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: #000;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  
  color: white;
 
}

/* Twitter */
.fa-twitter {
 
  color: white;
}

 @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";